@font-face {
    font-family: 'si';
    src: url('//socjs.com/font/socicon-webfont.eot');
    src: url('//socjs.com/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('//socjs.com/font/socicon-webfont.woff') format('woff'),
         url('//socjs.com/font/socicon-webfont.ttf') format('truetype'),
         url('//socjs.com/font/socicon-webfont.svg#siregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin inline-block(){
	display:inline-block;
	*display:inline;
	zoom:1;
}

//horizontal inline-block list
.si-horizontal {
	list-style:none;
	padding:0;
	margin:0;

	li {
		@include inline-block();
		margin:0 10px 0 0;
		&.si-last{
			margin:0;
		}
	}
}

//hide the accessibility text
.si-accessible {
	display:block;
	position:absolute;
	top:-9999px;
	left:-9999px;
}

.si {
	display:none;
	font-family: 'si';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow:hidden;
	width:1px;
	height:1px;
	line-height:1px;
	font-size:1px;
	position:relative;
	@include vendorize('box-sizing','border-box');
	text-decoration:none;
	text-align:center;
	color:#fff;
}

//position fixes
.si-facebook:before{
	@include inline-block();
	margin:1px auto 0;
}

//icon characters
.si-twitter:before { content: "a"; }
.si-facebook:before { content: "b"; }
.si-google:before { content: "c"; }
.si-pinterest:before { content: "d"; }
.si-yelp:before { content: "h"; }
.si-linkedin:before { content: "j"; }
.si-youtube:before { content: "r"; }
.si-vimeo:before { content: "s"; }
.si-flickr:before { content: "v"; }
.si-instagram:before { content: "x"; }
.si-tumblr:before { content: "z"; }
.si-rss:before { content: ","; }