@font-face {
    font-family: 'si';
    src: url('font/socicon-webfont.eot');
    src: url('font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/socicon-webfont.woff') format('woff'),
         url('font/socicon-webfont.ttf') format('truetype'),
         url('font/socicon-webfont.svg#siregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin inline-block(){
	display:inline-block;
	*display:inline;
	zoom:1;
}

//horizontal inline-block list
.si-horizontal {
	list-style:none;
	padding:0;
	margin:0;

	li {
		@include inline-block();
		margin:0 10px 0 0;
		&.si-last{
			margin:0;
		}
	}
}

//hide the accessibility text
.si-accessible {
	display:block;
	position:absolute;
	top:-9999px;
	left:-9999px;
}

.si {
	display:none;
	font-family: 'si';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow:hidden;
	width:1px;
	height:1px;
	line-height:1px;
	font-size:1px;
	position:relative;
	@include vendorize('box-sizing','border-box');
	text-decoration:none;
	text-align:center;
	color:#fff;
}

//position fixes
.si-facebook:before{
	@include inline-block();
	margin:1px auto 0;
}

//icon characters
.si-easid:before { content: "5"; }
.si-twitter:before { content: "a"; }
.si-facebook:before { content: "b"; }
.si-google:before { content: "c"; }
.si-pinterest:before { content: "d"; }
.si-foursquare:before { content: "e"; }
.si-yahoo:before { content: "f"; }
.si-skype:before { content: "g"; }
.si-yelp:before { content: "h"; }
.si-feedburner:before { content: "i"; }
.si-linkedin:before { content: "j"; }
.si-viadeo:before { content: "k"; }
.si-xing:before { content: "l"; }
.si-myspace:before { content: "m"; }
.si-soundcloud:before { content: "n"; }
.si-spotify:before { content: "o"; }
.si-grooveshark:before { content: "p"; }
.si-lastfm:before { content: "q"; }
.si-youtube:before { content: "r"; }
.si-vimeo:before { content: "s"; }
.si-dailymotion:before { content: "t"; }
.si-vine:before { content: "u"; }
.si-flickr:before { content: "v"; }
.si-500px:before { content: "w"; }
.si-instagram:before { content: "x"; }
.si-wordpress:before { content: "y"; }
.si-tumblr:before { content: "z"; }
.si-blogger:before { content: "A"; }
.si-technorati:before { content: "B"; }
.si-reddit:before { content: "C"; }
.si-dribbble:before { content: "D"; }
.si-stumbleupon:before { content: "E"; }
.si-digg:before { content: "F"; }
.si-envato:before { content: "G"; }
.si-behance:before { content: "H"; }
.si-delicious:before { content: "I"; }
.si-deviantart:before { content: "J"; }
.si-forrst:before { content: "K"; }
.si-play:before { content: "L"; }
.si-zerply:before { content: "M"; }
.si-wikipedia:before { content: "N"; }
.si-apple:before { content: "O"; }
.si-flattr:before { content: "P"; }
.si-github:before { content: "Q"; }
.si-chimein:before { content: "R"; }
.si-friendfeed:before { content: "S"; }
.si-newsvine:before { content: "T"; }
.si-identica:before { content: "U"; }
.si-bebo:before { content: "V"; }
.si-zynga:before { content: "W"; }
.si-steam:before { content: "X"; }
.si-xbox:before { content: "Y"; }
.si-windows:before { content: "Z"; }
.si-outlook:before { content: "1"; }
.si-coderwall:before { content: "2"; }
.si-tripadvisor:before { content: "3"; }
.si-netcodes:before { content: "4"; }
.si-lanyrd:before { content: "7"; }
.si-slideshare:before { content: "8"; }
.si-buffer:before { content: "9"; }
.si-rss:before { content: ","; }
.si-vkontakte:before { content: ";"; }
.si-disqus:before { content: ":"; }